/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #7e58e6;
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(0, 0%, 99%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Roboto', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-bold: 700;
  
    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
    :root {
      --biggest-font-size: 2.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    margin: 0;
    background-color: var(--body-color);
    color: var(--text-color);
    /* Para la animacion del modo oscuro */
    transition: .4s;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

/*=============== THEME ===============*/ 
  /* VARIABLES DARK THEME */
  body.dark-theme {
    --first-color: #7e58e6;
    --button-color: hsl(0, 0%, 24%);
    --button-color-alt: hsl(0, 0%, 28%);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(0, 0%, 12%);
    --container-color: hsl(0, 0%, 16%);
    --border-color: hsl(0, 0%, 20%);
  }
  

  /* BOTON DARK LIGHT */

.change-theme {
    color: var(--title-color);
    font-size: 1.25rem;
    cursor: pointer;
}

/* cambiar los botones blancos en el modo oscuro  */
.dark-theme .change-theme,
.dark-theme .nav__toggle,
.dark-theme .nav__shop,
.dark-theme .btn-grey {
    color: hsl(0, 0%, 15%);
}

.dark-theme .scroll-header {
    box-shadow: 0 1px 4px hsla(0, 0%, 4%, .3);
}

.scroll-header .change-theme,
.scroll-header .nav__toggle,
.scroll-header .nav__shop {
    color: var(--title-color);
}

.dark-theme::-webkit-scrollbar {
    background-color: hsl(0, 0%, 30%);
}

/* =========== REUSABLE CSS CLASSES ============ */
.container {
    max-width: 1024px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}

.main {
    overflow: hidden;
}

.section {
    padding: 6.5rem 0 1rem;
}

.section__title {
    position:relative;
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-3);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.section__title::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 67px;
    height: 1px;
    background-color: var(--first-color);
}

/* ============ HEADER & NAV ============ */
.header {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .3s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__close,
.nav__toggle,
.nav__shop {
    color: var(--title-color);
}

.nav__logo {
    text-transform: uppercase;
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.nav__logo-icon {
    font-size: 1.25rem;
}

.nav__btns {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav__shop, .nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 6rem 2rem 3.5rem;
        background-color: var(--body-color);
        transition: .3s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: var(--h2-font-size);
    text-transform: uppercase;
    transition: .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    font-size: 2rem;
    position: absolute;
    top: .9rem ;
    right: 1.25rem;
    cursor: pointer;
}

.menu-show {
    right: 0;
}

/* ACTIVE LINK */
.active-link {
    color: var(--first-color);
}

/* SCROLL HEADER */
.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
}

/* SCROLL UP */
.scrollup {
    position: fixed;
    right: 1rem;
    /* Antes de poner el js para que aparezca bottom: 5rem; */
    bottom: -30%;
    background-color: var(--container-color);
    box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
    display: inline-flex;
    padding: .7rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;
}

.scrollup:hover {
    opacity: 1;
}

.scrollup__icon {
    font-size: 1.5rem;
    color: var(--first-color);
}

.show-scroll {
    bottom: 3rem;
}

  /*=============== SCROLL bar ===============*/ 
  ::-webkit-scrollbar{
    width: .5rem;
    background: hsl(0, 0%, 74%);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--first-color);
  }

/* ================== CART ==================== */
.cart {
    background-color: var(--body-color);
    position: fixed;
    z-index: var(--z-fixed);
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 3.5rem 2rem;
    transition: .3s;
}

.cart__container {
    display: grid;
    row-gap: 3rem;
}

.cart__close {
    font-size: 2rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

.cart__title-center {
    text-align: center;
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-3);
}

.cart__card {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}



.cart__title {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-0-5);
}

.cart__price {
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
}

.cart__amount,
.cart__amount-content {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.cart__amount {
    column-gap: 3rem;
}

.cart__amount-box {
    display: flex;
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    padding: .2rem;
    cursor: pointer;
}

.cart__amount-trash {
    color: var(--first-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.cart__img-bg {
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    padding: .5rem .2rem;
}

.cart__img {
    width: 100px;
}

.cart__prices {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
}

.cart__prices-item {
    font-size: var(--small-font-size);
}

.cart__prices-total {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.show-cart {
    right: 0;
}

/* ================== HOME ==================== */
.home__container {
    position: relative;
    row-gap: 2.25rem;
}

.home__img-bg {
    background-color: var(--first-color);
    width: 280px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-self: flex-end;
    transform: translateX(1.5rem);
    padding-bottom: 1rem;
}

.home__social {
    position: absolute;
    top: 33%;
    left: -5.8rem;
    transform: rotate(-90deg);
    display: flex;
    column-gap: 1rem;
}

.home__social-link {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    transition: .3s;
}

.home__social-link:hover {
    color: var(--title-color);
}

.home__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    margin-bottom: var(--mb-1);
}

.home__description {
    color: var(--text-color);
    margin-bottom: var(--mb-1-5);
}

.home__price {
    color: var(--first-color);
    font-weight: var(--font-medium);
    font-size: var(--h2-font-size);
    display: inline-block;
    margin-bottom: var(--mb-3);
}

/* HOME BTNS */
.btn {
    background-color: var(--button-color);
    color: white;
    padding: 1.25rem 2rem;
    font-weight: var(--font-medium);
    /* El display inblock evita que se corte el boton  */
    display: inline-block;
    transition: .3s;
}

.btn:hover {
    background-color: var(--button-color-alt);
}

.home__btns {
    display: flex;
    align-items: center;
}

.btn-grey {
    background-color: hsl(0, 0%, 85%);
    color: var(--title-color);
}

.btn-grey:hover {
    background-color: hsl(0, 0%, 80%);
}

.btn-small {
    padding: 1rem 1.9rem;
}

/* ================= FEATURED ================== */
.featured__container {
    row-gap: 2rem;
}

.featured__card {
    text-align: center;
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    position: relative;
    overflow-y: hidden;
    padding-top: 2rem;
    transition: .3s;
}

.featured__sale {
    position: absolute;
    transform: rotate(-90deg);
    top: 3rem;
    left: -1rem;
    color: #fff;
    background-color: var(--first-color);
    padding: 0.5rem 1rem;
    font-size: var(--small-font-size);
}

.featured__img {
    height: 240px;
}

.featured__title {
    text-transform: uppercase;
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-0-5);
}

.featured__price {
    font-weight: var(--font-bold);
    color: var(--first-color);
      /* El display block superimportante para que agarre el mb despues  */
    display: block;
    transition: .3s;
}

.featured__btn {
    transform: translateY(1rem);
    opacity: 0;
}

.featured__card:hover {
    padding: 2rem 0 3rem 0;
    box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
}

.featured__card:hover .featured__btn{
    transform: translateY(1rem);
    opacity: 1;
}

.featured__card:hover .featured__price {
    margin-bottom: var(--mb-1-5);
}

/* ================== STORY ==================== */

.story__container {
    row-gap: 7.5rem;
}

.story__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-75);
}

.story__description {
    margin-bottom: var(--mb-3);
}

.story__img-bg {
    position: relative;
}

.story__square {
    background-color: var(--first-color);
    height: 240px;
    width: 240px;
}

.story__img {
    position: absolute;
    top: -3rem;
    left: 3rem;
    height: 240px;
    width: 240px;
    padding: 1rem;
    background-color: #000000;
}

/* ================== PRODUCTS ==================== */
.products__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    text-align: center;
}

.products__card {
    position: relative;
    border: 1px solid var(--border-color);
    background-color: var(--container-color);
    padding: 1rem;
    transition: .3s;
}

.products__img {
    width: 110px;
    margin-bottom: .5rem;
}

.products__title {
    font-size: var(--small-font-size);
    text-transform: uppercase;
    font-weight: var(--font-medium);
    margin-bottom: .5rem;
}

.products__price {
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
    color: var(--first-color);
}

.products__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .4rem;
    font-size: 1rem;
    background-color: var(--button-color);
    color: #fff;
    transition: .3s;
}

.products__btn:hover {
    background-color: var(--button-color-alt);
}

.products__card:hover {
    box-shadow: 0 8px 32px hsla(0, 0%, 10%, .1);
}

/* ================== TESTIMONIAL ==================== */
.testimonial__container {
    row-gap: 4rem;
}

.testimonial__quote {
    display: inline-flex;
    padding: .6rem .8rem;
    color: var(--first-color);
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
}

.testimonial__description {
    margin-bottom: var(--mb-1);
}

.testimonial__date {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1-5);
}

.testimonial__perfil {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    margin-bottom: 7rem;
}

.testimonial__perfil-data {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.testimonial__perfil-img {
    width: 60px;
    border-radius: 3rem;
}

.testimonial__perfil-name {
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.testimonial__perfil-description {
    font-size: var(--small-font-size);
}

.testimonial__imgs-bg {
    position: relative;
}

.testimonial__square {
    background-color: var(--first-color);
    width: 240px;
    height: 240px;
    margin-left: auto;
}

.testimonial__imgs {
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 240px;
    height: 240px;
    background-color: hsl(0, 0%, 15%);
}


/* SWIPER CLASS  */
.testimonial-swiper {
    margin-left: initial;
    margin-right: initial;
  }
  
  .swiper-button-prev:after,
  .swiper-button-next:after {
    content: '';
  }

.swiper-button-next,
.swiper-button-prev{
    top: initial;
    bottom: 5%;
    width: initial;
    height: initial;
    background-color: var(--container-color);
    box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
    padding: .25rem;
    font-size: 1.5rem;
    color: var(--first-color);
}

.swiper-button-next{
    right: initial;
    left: 4rem;
}

/* ================== NEW ==================== */
/* Al container solo para el gap */

.new__container {
    row-gap: 1rem;
}

.new__card {
    position: relative;
    padding-top: 2rem;
    text-align: center;
    overflow-y: hidden;
    transition: .3s;
}

.new__tag {
    position: absolute;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    padding: .5rem 1rem;
    top: 1rem;
    right: 1rem;
    transition: .3s;
}

.new__img {
    width: 240px;
}

.new__title {
    font-size: var(--h3-font-size);
    text-transform: uppercase;
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-0-75);
}

.new__price {
    font-weight: var(--font-bold);
    color: var(--first-color);
    display: block;
    transition: .3s;
}

.new__btn {
    transform: translateY(1rem);
    opacity: 0;
}

.new__card:hover .new__btn {
    opacity: 1;
    transform: translateY(0);
}

.new__card:hover {
    padding: 2rem 0 3rem;
    background-color: var(--first-color);
}

.new__card:hover .new__price {
    color: #fff;
    margin-bottom: var(--mb-1-5);
}

.new__card:hover .new__tag {
    background-color: var(--button-color);
}

/* ================== NEWSLETTER ==================== */
.newsletter__container {
    row-gap: 3rem;
    background-color: var(--first-color);
    padding: 3rem 1.5rem;
    text-align: center;
}

.newsletter__title {
    margin-bottom: var(--mb-2);
}

.newsletter__description {
    color: #fff;
}

.newsletter__suscribe {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.newsletter__input {
    outline: none;
    border: none;
    padding: 1.3rem 1rem;
    background-color: hsl(0, 0%, 94%);
}

/* ================== FOOTER ==================== */
.footer__container {
    row-gap: 2rem;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: var(--mb-3);
}

.footer__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1-5);
}

.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
}

.footer__links {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
}

.footer__link {
    color: var(--text-color-light);
    transition: .3s;
}

.footer__link:hover {
    color: var(--title-color);
}

/* Lo mismo aqui, si le quiero dar una separacion a un conjunto de elementos
puedo usar display flex y darles un gap row o column */
.footer__social {
    display: flex;
    column-gap: 1rem;
    margin-bottom: var(--mb-3);
}

.footer__social-link {
    font-size: 1.2rem;
    color: var(--text-color-light);
    transition: .3s;
}

.footer__social-link:hover {
    color: var(--title-color);
}

.footer__copy {
    /* si lo quiero centrar, como un spline no es un block lo tengo que volver
    uno para que ocupe todo el espacio */
    display: block;
    text-align: center;
    margin-bottom: var(--mb-1-5);
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
/* Cuando son cositas pequeñas, o cuando van dentro de un grid varios
elementos y vas a darles una separacion usa flex, flex direction y row gap */

/* ================== BREAKPOINTS ==================== */

/* 1. cambio de los margenes del container
2. Cambio del tamaño del fondo de la imagen del home
3. Tamaño titulo home
4. Tamaño fuente de los botones del home
5. tamaño de las imagenes con cuadrado detras
6. cantidad de las columnas para los productos y centrado */

/* Para pantallas pequeñas */
/* En la mas pequeña es max width todas las demas son min  */
@media screen and (max-width: 320px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .home__img-bg {
        width: 240px;
    }
    
    .home__title{
        font-size: var(--h1-font-size);
    }
    
    .home__btns {
        font-size: var(--smaller-font-size);
    }
    
    .story__square,
    .story__img,
    .testimonial__square,
    .testimonial__imgs {
        width: 180px;
        height: 180px;
    }

    .products__container {
        grid-template-columns: repeat(1, 180px);
        justify-content: center;
    }

}

/* Para pantallas medianas*/
@media screen and (min-width: 576px) {
    .home__img-bg {
        width: 340px;
    }

    .featured__container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 5rem;
    }
}

@media screen and (min-width: 767px) {
    .section {
        padding: 8rem 0 1rem;
    }

    .cart {
        width: 420px;
        box-shadow: -2px 0 4px hsla(0, 0%, 15%, .1);
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        justify-content: initial;
        column-gap: 3rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 2.5rem;
    }

    .nav__link {
        /* Initial pone al texto en su version original */
        text-transform: initial;
        font-size: var(--normal-font-size);
    }

    .nav__btns {
        margin-left: auto;
    }

    .home__container {
        padding-top: 6rem;
        grid-template-columns: 1fr max-content;
        align-items: center;
    }

    .home__img-bg {
        order: 1;
        transform: translate(1.5rem, -6rem);
    }

    .home__data {
        padding: 0 0 3rem 6rem;
    }

    .home__social {
        top: 47%;
        column-gap: 2rem;
    }

    .featured__title,
    .featured__price,
    .new__title,
    .new__price {
      font-size: var(--normal-font-size);
    }

    .story__container,
    .testimonial__container,
    .newsletter__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .story__container {
        padding-top: 5rem;
    }

    .story__title {
        text-align: initial;
    }

    .story__title::before {
        margin: initial;
    }

    .story__img-bg {
        order: -1;
    }

    .products__container {
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
        gap: 2.5rem;
    }

    .products__card {
        padding: 2rem 1rem;
    }

    .products__img {
        height: 155px;
        width: 155px;
    }

    .newsletter__container {
        text-align: initial;
        column-gap: 2rem;
        padding: 4.5rem;
    }

    .newsletter__suscribe {
        flex-direction: row;
    }

    .newsletter__input {
        width: 100%;
    }

    .footer__container {
        grid-template-columns: repeat(4, max-content);
        justify-content: space-between;
    }

    .footer__title {
        font-size: var(--h3-font-size);
    }
}

@media screen and (min-width: 992px) {
    .section__title {
        font-size: var(--h2-font-size);
    }

    .home__container {
        column-gap: 2rem;
    }

    .home__img-bg {
        width: 480px;
        height: 680px;
    }

    .home__img {
        width: 480px;
    }

    .home__social {
        left: -6rem;
    }

    .home__data {
        padding: 0 0 8rem 6rem;
    }

    .featured__container {
        grid-template-columns: repeat(3, 312px);
        padding-top: 2rem;
    }

    .story__container,
    .testimonial__container {
        column-gap: 8rem;
    }

    .story__square,
    .story__img,
    .testimonial__square,
    .testimonial__imgs {
      width: 450px;
      height: 450px;
    }
  
    .story__square,
    .testimonial__square {
      height: 450px;
    }
  
    .products__container,
    .new__container {
      padding-top: 2rem;
    }
  
    .testimonial__container {
      padding-bottom: 4rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .story__container,
    .testimonial__container {
        column-gap: 13rem;
    }

    .story__img {
        left: 5rem;
        top: -5rem;
    }

    .testimonial__imgs {
        right: 5rem;
        top: 5rem;
    }

    .scrollup {
        right: 3rem;
    }
}
